# Fernet Key (сгенерируйте свой, например, через python: fernet.generate_key())
FERNET_KEY=

# JWT Secret (любая длинная строка)
AIRFLOW__API_AUTH__JWT_SECRET=

# Учётные данные создаваемого пользователя
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# UID пользователя Airflow (для Linux: $(id -u), для Mac/Windows можно 50000)
AIRFLOW_UID=50000

# Путь к проекту
AIRFLOW_PROJ_DIR=./airflow